<!doctype html>
<html class="default no-js">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>{{#ifCond model.name '==' project.name}}{{project.name}}{{else}}{{model.name}} | {{project.name}}{{/ifCond}}</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link href="https://fonts.googleapis.com/css?family=Noto+Sans&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{{relativeURL "assets/css/main.css"}}">
</head>

<body>

{{> header}}

<div class="container">
    <div class="row container container-main">
        <div class="col-3 col-menu menu-sticky-wrap menu-highlight">
            <nav class="tsd-navigation secondary menu-sticky">
                {{#if toc.children}}
                <ul>
                    <ul class="before-current">
                        {{#each toc.children}}
                            {{> toc.root}}
                        {{/each}}
                    </ul>
                </ul>
                {{/if}}
                <ul>
                    <li>📑 Index</li>
                    <li><br></li>
                    {{#each navigation.children}}
                        {{> navglobals}}
                    {{/each}}
                </ul>
            </nav>
        </div>
        <div class="col-9 col-content">
            {{{contents}}}
            {{> footer}}
        </div>
    </div>
</div>

<div class="overlay"></div>
<script src="{{relativeURL "assets/js/main.js"}}"></script>
<script>if (location.protocol == 'file:') document.write('<script src="{{relativeURL "assets/js/search.js"}}"><' + '/script>');</script>

{{> analytics}}

</body>
</html>
