<!doctype html>
<html class="default no-js">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>{{#ifCond model.name '==' project.name}}{{project.name}}{{else}}{{model.name}} | {{project.name}}{{/ifCond}}</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link href="https://fonts.googleapis.com/css?family=Noto+Sans&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{{relativeURL "assets/css/main.css"}}">
    <script>
        var test = 0
        function openNav(e) {
            document.getElementById("global-nav").style.width   = "250px";
            document.getElementById("global-nav").style.padding = "25px";
            e.stopPropagation()
        }

        function closeNav(e) {
            if (!document.getElementById("global-nav").contains(e.target)) {
                document.getElementById("global-nav").style.width   = "0";
                document.getElementById("global-nav").style.padding = "0";
            }
        }
    </script>
</head>

<body onclick="closeNav(event)">

{{> header}}

<nav id="global-nav" class="tsd-navigation sidenav">
    <ul>
        {{#each navigation.children}}
            {{> navglobals}}
        {{/each}}
    </ul>
</nav>

<div id="main" class="container container-main">
    <div class="row">
        <div class="col-8 col-content">
            {{{contents}}}
        </div>
        <div class="col-4 col-menu menu-sticky-wrap menu-highlight">
            <nav class="tsd-navigation secondary menu-sticky">
                <ul>
                    <li>
                        📑
                        <span onclick="openNav(event)" style="cursor: pointer; padding-left: 10px">
                            Documentation
                        </span>
                    </li>
                </ul>
                <br>
                <ul class="before-current">
                    {{#each toc.children}}
                        {{> toc.root}}
                    {{/each}}
                </ul>
            </nav>
        </div>
    </div>
</div>

{{> footer}}

<div class="overlay"></div>
<script src="{{relativeURL "assets/js/main.js"}}"></script>
<script>if (location.protocol == 'file:') document.write('<script src="{{relativeURL "assets/js/search.js"}}"><' + '/script>');</script>

{{> analytics}}

</body>
</html>
